.gottu{
  font-family: 'Gotu' !important;
  font-size: 7px !important;
}

.centred{
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  font-family: 'Gotu';
}

.positioning{
  position: relative;
  top:30px;
  left: 45%;
  transform: translate(-45%, 0);
  color: white;
}

.small{max-width:100px;margin:15px auto;border-width:4px;border-color:white;position:relative;bottom:15px;}

.bordered{
  z-index: -1;
  border-radius: 10px;
  margin-top: 5em;
  background-color: white;
}

.borderen{
  z-index:-1;
  border-radius: 10px;
  margin-top: 5em;
  background-color: white;
}

.positioner{
  position: fixed;
}

.spanner{
  color: white;
}

.normaling{
  white-space: normal;
  padding:15px 40px 0 40px;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Della Respira';
}

.normaler{
  white-space: normal;
  padding: 50px 40px 15px 40px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Della Respira';
}

.normalint{
  white-space: normal;
  padding: 0 40px 5px 40px;
  text-align: left;
  font-size: 1.4em;
  font-family: 'Della Respira';
}

.charming{
  font-family: 'Gotu';
  font-weight: bold;
  font-size: 2.5rem;
}

.spaceup{
  padding-top: 5px;
  margin: auto;
}

body{
  position: relative;
  background-image: url("images/bg3.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.ml5 .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color:white;
  transform-origin: 0.5 0;
}

.sponsnimg{
  max-width: 100%;
  height: auto;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hori{
  max-width:20vw;margin:15px auto;border-width:4px;border-radius:2px;border-color:white;margin-top:10px;
}

.horip{
  margin-top: 50px;
}

.topper{
  margin-top: 100px;
}

.toppen{
  margin-top: 50px;
}

.normalert{
  white-space: normal;
  padding:0 40px 0 40px;
  text-align: center;
  font-size: 1em;
  font-family: 'Della Respira';
}

.whiter{
  color: white;
}

@media(max-width:600px){
  body{
    font-size:0.8em;
  }
  .normaling{
    padding: 30px 20px 0 20px;
  }
  .needsmall{
    font-size: 30px
  }
  .needmedium{
    font-size: 45px;
  }
}