.heading{
  text-align: center;
  font-size: 3rem;
}

.link--yaku{
  color: white;
  font-family: "Gotu";
}

hr{
  max-width:100px;margin:15px auto;border-width:4px;border-color:white;
}

.normaling{
  white-space: normal;
  padding: 30px 40px 0 40px;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Della Respira';
}

.whiter{
  color: white;
}

@media (min-width: 720px) {
    .marginer{
        margin-top: 20px;
    }
}

@media (max-width: 720px) {
    .box{
        padding: 0;
        margin: 20px 60px;
    }
}

.centred{
  margin:auto;
}

.positioning{
  position: relative;
  top:30px;
  left: 45%;
  transform: translate(-45%, 0);
  color: #d3e0ea;
}

.small{max-width:100px;margin:15px auto;border-width:4px;border-color:#d3e0ea;position:relative;bottom:15px;}

.centreg{
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  font-family: 'Gotu';
}
