body, html{
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Verdana, Georgia, 'Times New Roman', Times, serif;
  }
body {
    font-family: "Lato", sans-serif; 
    background-image: url("../images/bg4.jpg") !important;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
.breadcrumbrow{
    padding:5px;
    margin:0;
}
.breadcrumb{
    background:none;
}
.breadcrumb-item a{
    color:white;
}
.eventabout{
    margin-top:20px;
}
.img-responsive{
    margin: 0 auto;
}
.container{
    font-size: medium;
    margin:auto;
    margin-top:40px;
    padding:0px;
}
.row-content{
    padding:0;
    margin: 0;
}
.event-image{
    padding:15px;
    margin:0;
    text-align: center;
}

.eventul{
    text-align: center;
}
#eventabout{
    padding:17px;
}
.eachtab{
    display: inline-block;
    padding:20px 0px 0px 0px;
    text-align: center;
}
.eachlink{
    padding:10px 25px;
}
.material-icons{
    padding:10px;
}
.event-image h1{
    padding:6px;
}
.event-image h6{
    margin:auto 5px;
}
.needboxed{
    background-color: white;
    padding:15px;
    margin:10px;
}
.eventabout h5{

    font-weight: bolder;
}
@media(max-width:390px){
    .eachlink{
        padding:10px 13px;
    }
    .needboxed{
        padding:5px;
    }
    .event-image h1{
        font-size: x-large;
    }
}

